*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav { 
  display: flex; 
  align-items: center;
  grid-column: auto / span 12;
  background-color: #fafafa;
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin: 0;
  
}


nav img.dark{
  visibility: hidden;
}

.navlogo
{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  margin: 0;
  
  
}
.navlogo img {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1em;
  height: 100%;
  margin: 0;
 
}
.navlogo a {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  height: 100%;
  
 
}
.navlinks {
  grid-column: 2/12;
  display: flex;
  justify-content: right;
  width: 50%;
  padding: none;
  z-index: 15;
  margin: 0;
  
  
  
}
.navlinks li {
  list-style: none;
  margin: 0;
  
}
.navlinks a{
  font-weight: 600;
  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-family: "sweet-sans-pro", sans-serif; 
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  z-index: 16;
  color: black;
  margin: 0;
}
.burger {
  display: none;
  cursor: pointer;
  margin: 0;
}
.burger div{
  
  width: 25px;
  height: 3px;
  margin: 0;
  
  
  transition: translate .25s ease, rotate .25s ease, opacity 0s;
  
  transition-delay:  .25s, 0s, .25s;
  
  justify-content: right;
  
}
.navActive{
  transform: translateX(0%);
}
.linktext {
  transition: .25s ease;
  margin: 0;
}

.headerimg {
  display: flex;
  grid-column: auto / span 12;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0;
  
}
.headerimg video {
  width: 100%;
  height: auto;
  object-fit:contain;
  margin: 0;
  object-position: top
}


nav ul.image:hover {text-decoration: none; background-color: none; color: white;}
nav ul li a.linktext:hover  { text-decoration: none; background-color: rgb(131, 28, 186); color: white; transition: .25s ease; }
nav a img:hover { text-decoration: none; background-color: none; color: white;}
a {text-decoration: none;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

















































body{
  margin: auto;
  background-color: #fafafa;
  overflow-x: hidden;
  transition: all .5s;
}

.noscroll{
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}


.grid {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  
  column-gap: 20px;
  margin-left: 10%;
  margin-right: 10%;

    
  justify-self: center;
}


/*.banner{
    background-image: url(../assets/bg/Website\ pic\ -\ Edited.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display:  inline-block;
    margin: 0 94px;
    position: relative;
}
.nav ul li a{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 38px;
}
.nav ul li ::after{
    content: '';
    height: 5px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.nav ul li :hover:after{
    width: 100%;
}
.intro{
    width: 100%;
    position: absolute;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.intro h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
}
.intro p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
}
.bgf{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bgv{
    position: fixed;
    right: auto;
    bottom: auto;
    z-index: -2;
}
.bgi {
  position: fixed;
  inset: 0; 
  z-index: -2;
  overflow: hidden;    
}
.bgi img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;  
  min-width: 100%; 
  min-height: 100%;   
  object-fit: cover;   
  pointer-events: none;    
}
.bginfo{
    height: 300px; 
}
.yap{
    width: 100%;
    position: relative;
    padding-top: 0%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.yap img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
.yap h1{
    padding-top: 50%;
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    animation: fade linear;
    animation-timeline: view();
}
.yap p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 100px;
}
.yap h2{
    padding-top: 200px;
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorbanner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.sponsorinfo{
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.sponsorinfo h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorinfo p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponimg {
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
}
.sponimg img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;          
    max-width: 100%;
    max-height: 100%;
}
.aboutpage{
    height: 900px; 
    padding-top: 0%;
    z-index: -1;
    pointer-events: none;
}
.aboutpage img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
@keyframes fadequick {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 16/9){
    .bgv{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgv{
        width: auto;
        height: 100%;
    }
}*/







@media screen and (max-width: 1024px){
  body {
    overflow-x: hidden;
    
  }
  nav{
    min-width: 100%;
  }
  .navlinks {
    width:70%;
  }
  .counter-wrapper{
    width: 85vw;
  }
  .counter-container{
    height: 26vm;
    width: 26vm;
    font-size: 12px;
  }

}
@media screen and  (max-width: 850px) {

  body {
    overflow-x: hidden;
    
  }

  .header{
    grid-column: 1/2;
  }
  .header #bg {
    display: none;
    
  }

  nav {
    align-content: stretch;
    justify-content: space-between;
    
  }

  

  .navlinks{
    position: absolute;
    right: 0px;
    height: calc(100% -50px);
    top:  50px;
    background-color: #292929;
    display: block;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    justify-content: space-evenly;
    
    
  }

  .navlinks li {
    opacity: 10;
    border-radius: 50%;
    
  }
  .navlinks a {
    align-items: center center;
    padding-top: calc(12.5vh - 5px);
    padding-bottom: calc(12.5vh - 5px);
    
    height: 4fr;
    
  }
  
  .burger {
    display:block;
  }
}

/*.darkmodeon {
  width: 33.3333%;
}
@media ((prefers-color-scheme: light)) {
  .column-1-3 {
    width: 100%;
  }
}

@media  ((prefers-color-scheme: dark)) {
 
  body {
    color: #eee;
    background: #222;
  }

  .noscroll{
    height: 100%;
    overflow-y: hidden;
    
  }

  .fillcolors{
    background: #292929;
    grid-column: 1/8;
    grid-row: 1/2;
  }
  
  .burger div{
    background-color: white;
   
    
  }

  nav img.light{
    visibility: hidden;
    display: none;
  }

  nav img.dark{
    visibility: visible;
  }

  body a {
    color: #809fff;
  }

  nav {
    background-color: #292929;
  }

  .navlinks a{
    color: white;
    background-color: #292929;
    
  }
  
  header {
    background-color: #292929;
  }

  .counter-container {
    background-color: #292929 ;
  }

  span.counter-text{
    color: white; 
  }

  span.counter-num{
    color: white;
  }

  footer {
    color: white;
    background-color: #292929;
  }
  
  
    
}

.navActive{
  transform:  translateX(0%);
}

@keyframes navLinkFade {
  from { 
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opactiy: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  translate: 0px 8px;
 rotate: -45deg;

  transition: translate .25s ease, rotate .25s ease;
  transition-delay: 0s, .25s;
}
.toggle .line2 {
  transition: opacity 0s;
  
  transition-delay: .25s;
 
  opacity: 0 ;
}
.toggle .line3 {
  translate: 0px -8px;
 rotate: 45deg;
  transition: translate .25s ease, rotate .25s ease;
  
  transition-delay: 0s, .25s;
  
}