.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

*  {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  transition: all .25s;
    
}

.disable-transition,
.disable-transition::before {
  transition: none !important;
}

html  {
  --mainPageColor: #fafafa;
  --mainTextColor: black;
  --mainFooterColor:#fbfbfb;
  
}

html.dark {
  --mainPageColor: #121212;
  --mainTextColor: white;
  --mainFooterColor: #121212;
  
}

body{
  margin: auto;
  background-color: var(--mainPageColor);
  overflow-x: hidden;
  
}



.grid {
  display: grid;

  grid-template-columns: 10% repeat(12, [col-start] 1fr) 10%;
  
  column-gap: 20px;
  
    
  justify-self: center;
}

nav {
  display: grid;
  align-items: center;
  width: 100%;
  grid-column: -1/1;
  background-color: var(--mainPageColor);
  grid-template-columns: subgrid;
  top: 0;
  z-index: 300;
  position: sticky;
}

.navcontainer { 
  display: flex; 
  align-items: center;
  grid-column: 2/14;
  background-color: var(--mainPageColor);
  justify-content: space-between;
  position: sticky;
  top: 0;
  margin: 0;
  
}


nav img.dark{
  visibility: hidden;
}

.navlogo
{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 30px;
  margin: 0;
  
  
}
.navlogo img {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1em;
  height: 100%;
  margin: 0;
 
}
.navlogo a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
  grid-column: 2/14;
 
}

.navpages {
  grid-column: 2/14;
  display: flex;
  justify-content: right;
  width: 50%;
  padding: none;
  z-index: 15;
  margin: 0;
  
  
  
}
.navpages li {
  list-style: none;
  margin: 0;
  
}
.navpages a{
  font-weight: 600;
  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-family: "sweet-sans-pro", sans-serif; 
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  z-index: 16;
  color: var(--mainTextColor);
  margin: 0;
}

.navpagesL {
  grid-column: 2/14;
  display: flex;
  justify-content: left;
  width: 50%;
  padding: none;
  z-index: 15;
  margin: 0;
  
  
  
}
.navpagesL li {
  list-style: none;
  margin: 0;
  
}
.navpagesL a{
  font-weight: 600;
  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-family: "sweet-sans-pro", sans-serif; 
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  z-index: 16;
  color: var(--mainTextColor);
  margin: 0;
}

.navpagesR {
  grid-column: 2/14;
  display: flex;
  justify-content: right;
  width: 50%;
  padding: none;
  z-index: 15;
  margin: 0;
  
  
  
}
.navpagesR li {
  list-style: none;
  margin: 0;
  
}
.navpagesR a{
  font-weight: 600;
  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-family: "sweet-sans-pro", sans-serif; 
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  z-index: 16;
  color: var(--mainTextColor);
  margin: 0;
}

.burger {
  display: none;
  cursor: pointer;
  margin: 0;
  
  
}


.burger div.line1{
  
  width: 25px;
  height: 3px;
  margin: 1em 1em .5em ;
  
  
  background-color: var(--mainTextColor);
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  
  transition-delay:  .125s, 0s, .125s;
  
  justify-content: center;
  
}

.burger div.line2{
  
  width: 25px;
  height: 3px;
  margin: .5em 1em;
  background-color: var(--mainTextColor);
  
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  
  transition-delay:  .125s, 0s, .125s;
   z-index: 200;
  justify-content: center;
  
}


.burger div.line3{
  
  width: 25px;
  height: 3px;
 
  margin: .5em 1em 1em ;
  
  
  background-color: var(--mainTextColor);
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  
  transition-delay:  .125s, 0s, .125s;
  
  justify-content: center;
  
}

.navActive{
  transform: translateX(0%);
}

.linktext {
  transition: .25s ease;
  margin: 0;
}

.headerimg {
  
  grid-column: -1/1;

  height: calc(100vh - 30px - 2em) !important;
 
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  
  
}
.headerimg video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin: 0;
  object-position: top;
  z-index: -1;
  
  
}

.videotext {
    position: absolute;
    z-index: 100;
    font-size: 5em;
    font-family: "sweet-sans-pro", sans-serif; 
    color: white;
    font-weight: bolder;
 
  
}

footer {
  display: grid;
  align-items: center;
  width: 100%;
  grid-column: -1/1;
  background-color: var(--mainFooterColor);
  grid-template-columns: subgrid;
  top: 0;
  
  
}

.ftcontainer { 
  display: block; 
  align-items: center;
  grid-column: 2/14;
  background-color: var(--mainFooterColor);
  
  
  top: 0;
  margin: 0;
  
}

.ftlogo
{
  grid-column: 2/14;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 5em;
  
}
.ftlogo img {
  display: flex;
  
  align-items: center;
  width: 400px;
 
  padding: 1em;
  justify-content: center;
  margin: 0;
}

.ftpages {
  display: flex;
  justify-content: center;
  width: 100%;
  
  padding: 0;
 
  margin: 0;
}

.ftpages li {
  list-style: none;
  margin: 0;
  
}

.ftpages a{
  font-weight: 600;
  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  font-family: "sweet-sans-pro", sans-serif; 
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  
  color: var(--mainTextColor);
  margin: 0;
}

.ftlinks {
  display: flex;
  justify-content: center;
  width: 100%;
  
 
 
  margin: 0;
}

.ftlinks li {
  list-style: none;
  margin: 0;
  
}
.ftlinks a{

  text-decoration: none;
  place-content: center;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  height: 30px;
  padding: 1em;
  white-space: nowrap;
  color: var(--mainTextColor);
  margin: 0;
}


.ftlinks img {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  height: 100%;
  grid-column: 2/14;
 
}

.fttheme {
  display: grid;
  align-items: center;
  width: 100%;
  grid-column: -1/1;
  grid-template-columns: subgrid;
  top: 0;

 
}

.ftcopyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 5em;
  
  
}
.ftcopyright t {
  font-family: "sweet-sans-pro", sans-serif;
  font-size: 14px;
  color: var(--mainTextColor);
  padding: 1em;
  font-weight: bolder;
  
}

nav ul.image:hover {text-decoration: none; background-color: none; color: white;}
nav ul li a.linktext:hover  { text-decoration: none;  color: #e86100; transition: .25s ease; }
nav a img:hover { text-decoration: none; background-color: none; color: white;}
a {text-decoration: none;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }



























































.toggle div.line1 {
  translate: 0 calc(3px + .5em);
  rotate: -45deg;

  transition: translate .125s ease, rotate .125s ease;
  transition-delay: 0s, .125s;
}
.toggle div.line2 {
  transition: opacity 0s;
  
  transition-delay: .125s;
  z-index: 200;
  opacity: 0;
}
.toggle div.line3 {
  
  translate: 0 calc(-3px - .5em);
  
  rotate: 45deg;
  transition: translate .125s ease, rotate .125s ease;
  
  transition-delay: 0s, .125s;
  
}
*/




/*dark/light toggle animations*/
.material-symbols-outlined{
  font-size: 2em;
  text-align: center ;
}

.themeToggle{
  justify-content: center;
  width: 48px;
  grid-column: 2/3;
  cursor: pointer;
  user-select: none;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 1em;
  
}

.themeToggle .lightmodebutton{
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
  text-align: center;
 rotate: 0deg;
 opacity: 100;

  transition:  rotate 1s ease;
  
  scale: 0%;
  width: 0%;
  position: relative;
  
}

.themeToggle.themescale .lightmodebutton  {
  display: flex;
  justify-content: center;
  color:  var(--mainTextColor);
  cursor: pointer;
  user-select: none;
 
    rotate: 720deg;
    opacity: 100;
    
  transition:  rotate .5s ease-in;
  scale: 100%;
  width: 64px;
 position: relative;
}

.themeToggle.themeactive .lightmodebutton  {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
 
    rotate: 0deg;
    opacity: 100;
    
  transition:  rotate .5s ease-in;
  scale: 0;
  width: 0;
 position: relative;
}

.themeToggle.themeactive.themescale .lightmodebutton  {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
 
    rotate: 360deg;
    opacity: 100;
    
  transition:  rotate .5s ease-out;
  scale: 100%;
  width: 64px;
 position: relative;
}




.themeToggle .darkmodebutton{
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;

  rotate: 0deg;
  opacity: 100;
 
  transition:  rotate .5s ease-out;
  scale: 100%;
  width: 64px;
  position: relative;
  
}

.themeToggle.themeactive .darkmodebutton {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
  rotate: 360deg;
  opacity: 100;
 
  transition:  rotate .5s ease-in;
  
   position: relative;
  scale: 100%;
  width: 64px;
 
}

.themeToggle.themescale .darkmodebutton {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
  rotate: -360deg;
  opacity: 0;
 
  transition:  rotate 1s ease;
  scale: 0%;
   position: relative;
  width: 0%;
 
}

.themeToggle.themeactive.themescale .darkmodebutton {
  display: flex;
  justify-content: center;
  color: var(--mainTextColor);
  cursor: pointer;
  user-select: none;
  rotate: -360deg;
  opacity: 0;
  
  transition:  rotate 1s ease;
  scale: 0%;
   position: relative;
  width: 0%;
 
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px){

  .grid {
    display: grid;

    grid-template-columns: 16px repeat(12, [col-start] 1fr) 16px;
  
    column-gap: 20px;
  
    
    justify-self: center;
  }

  

  .ftlogo img {
   
    width: 300px;
  
    
  }
  .ftpages a{

    font-size: 0.75em;
    
  }

  

}

@media only screen 
and (max-width : 680px){

  .burger {

    display:block;
    margin-left: calc(50% - (25px + 2em)/2);
  }
   
  .noscroll{
    height: 100%;
    overflow-y: hidden;
    margin: 0;
  }

  nav {

    align-content: stretch;
    justify-content: space-between;
    
  }

  
  .navlogo {
    display: none;
  }

  .navcontainer {
    grid-column: -1/1;
  }
   @keyframes navSlideUp {
    0%{
        transform: translateX(0%);
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    25%{
        transform: translateX(25%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    50%{
        transform: translateX(50%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    75%{
        transform: translateX(75%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    100%{
        transform: translateX(100%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }
  }
  @keyframes navSlideDown {
    0%{
        transform: translateX(100%);
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    25%{
        transform: translateX(75%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    50%{
        transform: translateX(50%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    75%{
        transform: translateX(25%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }

    100%{
        transform: translateX(0%) ;
        animation-timing-function: ease;
        animation-duration: .25s;
    }
  }

  .navpages {
    position: absolute;
    right: 0px;
    height: calc(100vh - 9px - 3em);
    top:  calc( 9px + 3em);
    background-color: var(--mainPageColor);
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
    animation: navSlideUp 1s ;
    
    
    
   
    justify-content: space-evenly;
    
    
  }

  .navActive{
    
    animation: navSlideDown 1s;
  }


  
  .navpages a {
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    align-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity .25s ease;
  }

    .navpages.navActive a{

        opacity: 100;
        transition: opacity .5s ease;
    }
  .navpages li {
    height: 25%;
    align-content: center;
    
  }
  

  .headerimg {
  
   

    height: calc(100vh - 3px - 3em) !important;
  
  }

  

}



/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}





/*.banner{
    background-image: url(../assets/bg/Website\ pic\ -\ Edited.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display:  inline-block;
    margin: 0 94px;
    position: relative;
}
.nav ul li a{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 38px;
}
.nav ul li ::after{
    content: '';
    height: 5px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.nav ul li :hover:after{
    width: 100%;
}
.intro{
    width: 100%;
    position: absolute;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.intro h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
}
.intro p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
}
.bgf{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bgv{
    position: fixed;
    right: auto;
    bottom: auto;
    z-index: -2;
}
.bgi {
  position: fixed;
  inset: 0; 
  z-index: -2;
  overflow: hidden;    
}
.bgi img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;  
  min-width: 100%; 
  min-height: 100%;   
  object-fit: cover;   
  pointer-events: none;    
}
.bginfo{
    height: 300px; 
}
.yap{
    width: 100%;
    position: relative;
    padding-top: 0%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.yap img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
.yap h1{
    padding-top: 50%;
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    animation: fade linear;
    animation-timeline: view();
}
.yap p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 100px;
}
.yap h2{
    padding-top: 200px;
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorbanner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.sponsorinfo{
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.sponsorinfo h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorinfo p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponimg {
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
}
.sponimg img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;          
    max-width: 100%;
    max-height: 100%;
}
.aboutpage{
    height: 900px; 
    padding-top: 0%;
    z-index: -1;
    pointer-events: none;
}
.aboutpage img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
@keyframes fadequick {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 16/9){
    .bgv{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgv{
        width: auto;
        height: 100%;
    }
}*/









/*.darkmodeon {
  width: 33.3333%;
}
@media ((prefers-color-scheme: light)) {
  .column-1-3 {
    width: 100%;
  }
}

@media  ((prefers-color-scheme: dark)) {
 
  body {
    color: #eee;
    background: #222;
  }

  .noscroll{
    height: 100%;
    overflow-y: hidden;
    
  }

  .fillcolors{
    background: #292929;
    grid-column: 1/8;
    grid-row: 1/2;
  }
  
  .burger div{
    background-color: white;
   
    
  }

  nav img.light{
    visibility: hidden;
    display: none;
  }

  nav img.dark{
    visibility: visible;
  }

  body a {
    color: #809fff;
  }

  nav {
    background-color: #292929;
  }

  .navlinks a{
    color: white;
    background-color: #292929;
    
  }
  
  header {
    background-color: #292929;
  }

  .counter-container {
    background-color: #292929 ;
  }

  span.counter-text{
    color: white; 
  }

  span.counter-num{
    color: white;
  }

  footer {
    color: white;
    background-color: #292929;
  }
  
  
    
}
