/* CSS Document for AU Autosports Website */
/* Author: Jonathan Powell-Williams Aka: JonPowWil / Kynan.Fox / The big J */
/* Last Updated: 2/28/2026 */


.preload * { 

  animation-duration: 0.001s !important; 
  transition: none !important;

}



.resize-animation-stopper * {

  animation: none !important;
  transition: none !important;

}


/* Global styles */
* {

  font-family: sans-serif;
  margin: 0;
  padding: 0;
  transition: all .25s;
    
}



/* variables for light and dark mode colors */
html {

  --mainFooterColor:#fbfbfb;
  --mainPageColor: #fafafa;
  --mainTextColor: black;

}

html.dark {

  --mainFooterColor: #121212;
  --mainPageColor: #121212;
  --mainTextColor: white;
  
}


/* Body styles */
body {

  background-color: var(--mainPageColor);
  margin: auto;
  overflow-x: hidden;

}



/* Grid styles */
.grid {

  column-gap: 20px;
  display: grid;
  grid-template-columns: 10% repeat(12, [col-start] 1fr) 10%;
  justify-self: center;
  width: 100vw;
    
}



/* Nav styles */
nav {

  align-items: center;
  background-color: var(--mainPageColor);
  display: grid;
  grid-column: -1/1;
  grid-template-columns: subgrid;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 300;
  
}

.nav-container { 

  align-items: center;
  background-color: var(--mainPageColor);
  display: flex; 
  grid-column: 2/14;
  justify-content: space-between;
  margin: 0;
  position: sticky;
  top: 0;
 
}

.nav-logo {

  align-items: center;
  display: flex;
  height: 30px;
  justify-content: left;
  margin: 0;

}

.nav-logo img {

  align-items: center;
  display: flex;
  height: 100%;
  justify-content: left;
  margin: 0;
  padding: 1em;
 
}

.nav-logo a {

  align-items: center;
  display: flex;
  grid-column: 2/14;
  height: 100%;
  justify-content: center;
  margin: 0;

}

.nav-pages {

  display: flex;
  grid-column: 2/14;
  justify-content: right;
  margin: 0;
  padding: none;
  width: 50%;
  z-index: 15;

}

.nav-pages li {

  list-style: none;
  margin: 0;
  
}

.nav-pages a{
  
  color: var(--mainTextColor);
  display: block;
  font-family: "sweet-sans-pro", sans-serif; 
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 0;
  padding: 1em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 16;

 
  
}



/* Alternate center nav styles */
/*
.nav-pages-l {

  display: flex;
  grid-column: 2/14;
  justify-content: left;
  margin: 0;
  padding: none;
  width: 50%;
  z-index: 15;
  
}
.nav-pages-l li {

  list-style: none;
  margin: 0;
  
}
.nav-pages-l a{

  color: var(--mainTextColor);
  display: block;
  font-family: "sweet-sans-pro", sans-serif; 
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 0;
  padding: 1em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 16;

}

.nav-pages-r {

  display: flex;
  grid-column: 2/14;
  justify-content: right;
  padding: none;
  margin: 0;
  width: 50%;
  z-index: 15;
  
}
.nav-pages-r li {

  list-style: none;
  margin: 0;
  
}
.nav-pages-r a{

  color: var(--mainTextColor);
  display: block;
  font-family: "sweet-sans-pro", sans-serif; 
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 0;
  padding: 1em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  z-index: 16;

}
*/



/* Burger menu styles */
.burger {

  cursor: pointer;
  display: none;
  margin: 0;
  
}

.burger div.line-1{

  background-color: var(--mainTextColor);
  height: 3px;
  justify-content: center;
  margin: 1em 1em .5em ;
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  transition-delay:  .125s, 0s, .125s;
  width: 25px;
  z-index: 200;

}

.burger div.line-2{
  
  background-color: var(--mainTextColor);
  height: 3px;
  justify-content: center;
  margin: .5em 1em;
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  transition-delay:  .125s, 0s, .125s;
  width: 25px;
  z-index: 200;

}

.burger div.line-3{
  
  background-color: var(--mainTextColor);
  height: 3px;
  justify-content: center;
  margin: .5em 1em 1em ;
  transition: translate .125s ease, rotate .125s ease, opacity 0s;
  transition-delay:  .125s, 0s, .125s;
  width: 25px;
  z-index: 200;
  
}


.nav-active{

  transform: translateX(0%);

}

.link-text {

  transition: .25s ease;
  margin: 0;

}


/* Header image styles */
.header-img {

  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  grid-column: -1/1;
  height: calc(100vh - 30px - 2em) !important;
  position: relative;
  
}
.header-img video {

  height: 100%;
  margin: 0;
  object-fit:cover;
  object-position: top;
  position: fixed;
  width: 100%;
  z-index: -1;
  
}

.video-text {

  color: white; 
  font-family: "sweet-sans-pro", sans-serif;   
  font-size: 5em;
  font-weight: bolder;
  position: absolute;
  z-index: 100;
  
}


/* Footer styles */
footer {

  align-items: center;
  background-color: var(--mainFooterColor);
  display: grid;
  grid-column: -1/1;
  grid-template-columns: subgrid;
  top: 0;
  width: 100%;
  
}

.ft-container { 

  align-items: center;
  background-color: var(--mainFooterColor);
  display: block; 
  grid-column: 2/14;
  margin: 0;
  top: 0;
  
}

.ft-logo
{

  align-items: center;
  display: flex;
  grid-column: 2/14;
  justify-content: center;
  margin: 0;
  padding-top: 5em;
  
}

.ft-logo img {

  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1em;
  width: 400px;

}

.ft-pages {

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.ft-pages li {

  list-style: none;
  margin: 0;
  
}

.ft-pages a{

  color: var(--mainTextColor);
  display: block;
  font-family: "sweet-sans-pro", sans-serif; 
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 0;
  padding: 1em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
}

.ft-links {

  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  
}

.ft-links li {

  list-style: none;
  margin: 0;
  
}

.ft-links a{

  color: var(--mainTextColor);
  display: block;
  height: 30px;
  letter-spacing: 2px;
  margin: 0;
  padding: 1em;
  place-content: center;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  
}


.ft-links img {

  align-items: center;
  display: flex;
  grid-column: 2/14;
  height: 100%;
  justify-content: left;
  margin: 0;
  
}

.ft-theme {

  align-items: center;
  display: grid;
  grid-column: -1/1;
  grid-template-columns: subgrid;
  top: 0;
  width: 100%;
  
}

.ft-copyright {

  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 5em;
  
  
}

.ft-copyright t {

  font-family: "sweet-sans-pro", sans-serif;
  font-size: 14px;
  color: var(--mainTextColor);
  padding: 1em;
  font-weight: bolder;
  
}



/* text styles animations and such*/
nav ul.image:hover {text-decoration: none; background-color: none; color: white;}
nav ul li a.link-text:hover  { text-decoration: none;  color: #e86100; transition: .25s ease; }
nav a img:hover { text-decoration: none; background-color: none; color: white;}
a {text-decoration: none;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }



/* Burger menu animations */
.toggle div.line-1 {

  translate: 0 calc(3px + .5em);
  rotate: -45deg;
  transition: translate .125s ease, rotate .125s ease;
  transition-delay: 0s, .125s;

}

.toggle div.line-2 {

  opacity: 0;
  transition: opacity 0s;
  transition-delay: .125s;
  z-index: 200;
 
}

.toggle div.line-3 {
  
  translate: 0 calc(-3px - .5em);
  rotate: 45deg;
  transition: translate .125s ease, rotate .125s ease;
  transition-delay: 0s, .125s;
  
}



/*dark/light toggle animations*/
.material-symbols-outlined{

  font-size: 2em;
  text-align: center;

}

.theme-toggle{

  align-items: center;
  cursor: pointer;
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  padding: 1em;
  text-align: center;
  user-select: none;
  width: 48px;

}

.theme-toggle .light-mode-button{

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  user-select: none;
  width: 0%;

  opacity: 100;
  rotate: 0deg;
  scale: 0%;
  transition:  rotate 1s ease;
  
}

.theme-toggle .dark-mode-button{

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  user-select: none;
  width: 64px;

  opacity: 100;
  rotate: 0deg;
  scale: 100%;
  transition:  rotate .5s ease-out;

}


.theme-toggle.theme-active .light-mode-button  {

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 0;

  opacity: 100;
  rotate: 0deg;
  scale: 0;
  transition:  rotate .5s ease-in;

}

.theme-toggle.theme-active .dark-mode-button {

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 64px;

  opacity: 100;
  rotate: 360deg;
  scale: 100%;
  transition:  rotate .5s ease-in;

}

.theme-toggle.theme-scale .light-mode-button  {

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 64px;

  opacity: 100;
  rotate: 720deg;
  scale: 100%;
  transition:  rotate .5s ease-in;
  
}

.theme-toggle.theme-scale .dark-mode-button {
  
  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 0%;

  opacity: 0;
  rotate: -360deg;
  scale: 0%;
  transition:  rotate 1s ease;
 
}


.theme-toggle.theme-active.theme-scale .light-mode-button  {

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 64px;

  opacity: 100;
  rotate: 360deg;
  scale: 100%;
  transition:  rotate .5s ease-out;

}

.theme-toggle.theme-active.theme-scale .dark-mode-button {

  color: var(--mainTextColor);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 0%;

  opacity: 0;
  rotate: -360deg;
  scale: 0%;
  transition:  rotate 1s ease;
 
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 480px){

  .grid {

    column-gap: 20px;
    display: grid;
    grid-template-columns: 16px repeat(12, [col-start] 1fr) 16px;
    justify-self: center;

  }

  

  .ft-logo img {
   
    width: 300px;
  
  }

  .ft-pages a{

    font-size: 0.75em;
    
  }

}

@media only screen 
and (max-width : 680px){
 
  .no-scroll{

    height: 100%;
    margin: 0;
    overflow-y: hidden;

  }


  
  nav {

    align-content: stretch;
    justify-content: space-between;
    z-index: 500;

  }

  .nav-logo {

    display: none;

  }

  .nav-container {

    grid-column: -1/1;

  }

  .burger {

    display:block;
    margin-left: calc(50% - (25px + 2em)/2);
    z-index: 200;

  }

  .nav-pages {

    align-items: center;
    background-color: var(--mainPageColor);
    display: block;
    flex-direction: column;
    height: calc(100vh - 9px - 3em);
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    top:  calc( 9px + 3em);
    width: 100vw;
    z-index: 10;

    transform: translateY(-115%);
    transition: transform .125s ease;
  }

  /* nav active classes for burger menu animation */
  .nav-pages.nav-active-1{

    transform: translateY(-75%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2{

    transform: translateY(-50%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2.nav-active-3{

    transform: translateY(-25%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2.nav-active-3.nav-active-4{

    transform: translateY(0%);
    transition: transform .125s ease;

  }

  /* nav active classes for burger menu animation when closing menu with reverse animation */
  .nav-pages.nav-active-2.nav-active-3.nav-active-4 {

    transform: translateY(-25%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-3.nav-active-4 {

    transform: translateY(-50%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-4 {

    transform: translateY(-75%);
    transition: transform .125s ease;

  }



  /* nav text animations for burger menu */
  /*home, about, team, contact*/

  /*home*/
  .first{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease opacity .125s ease;
    transition-delay: .0625s;
    transition-property: transform;

  }

  /* home text animation for burger menu when opening menu */
  .nav-pages.nav-active-1 .first{

    opacity: 100;
    transform: translateY(300%);
    transition: transform .125s ease opacity .125s ease;
    transition-delay: .0625s;
    transition-property: opacity;
    
  }
  .nav-pages.nav-active-1.nav-active-2 .first{

    opacity: 100;
    transform: translateY(200%);
    transition: transform .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2.nav-active-3 .first{

    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2.nav-active-3.nav-active-4 .first{

    opacity: 100;
    transform: translateY(0%);
    transition: transform .125s ease;

  }

  /* home text animation for burger menu when closing menu with reverse animation */
  .nav-pages.nav-active-2.nav-active-3.nav-active-4 .first{
    
    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-3.nav-active-4 .first {

    opacity: 100;
    transform: translateY(200%);
    transition: transform .125s ease;
  }

  .nav-pages.nav-active-4 .first{

    opacity: 100;
    transform: translateY(300%);
    transition: transform .125s ease;

  }

  

  /* about */
  .second{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease opacity .125s ease;

  }

  /* about text animation for burger menu when opening menu */
  .nav-pages.nav-active-1 .second{

    opacity: 0;
    transform: translateY(200%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2 .second{

    opacity: 100;
    transform: translateY(200%);
    transition: transform .125s ease opacity .0625s ease;
    transition-delay: .0625s;
    transition-property: opacity;

  }

  .nav-pages.nav-active-1.nav-active-2.nav-active-3 .second{

    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-1.nav-active-2.nav-active-3.nav-active-4 .second{

    opacity: 100;
    transform: translateY(0%);
    transition: transform .125s ease;

  }
  
  /* about text animation for burger menu when closing menu with reverse animation */
  .nav-pages.nav-active-2.nav-active-3.nav-active-4 .second{

    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease opacity .125s ease;

  }

  .nav-pages.nav-active-3.nav-active-4 .second {

    opacity: 100;
    transform: translateY(200%);
    transition: transform .125s ease;

  }

  .nav-pages.nav-active-4 .second {

    opacity: 0;
    transform: translateY(200%);
    transition: transform .0625s ease;

  }


  /* team */
  .third{
    transform: translateY(0%);
    opacity: 0;
    transition: transform .125s ease opacity .125s ease;
  }

  /* team text animation for burger menu when opening menu */
 .nav-pages.nav-active-1 .third{

    opacity: 0;
    transform: translateY(100%);
    transition: transform .125s ease opacity .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2 .third{

    opacity: 0;
    transform: translateY(100%);
    transition: transform .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2.nav-active-3 .third{

    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease opacity .125s ease;
    transition-delay: .0625s;
    transition-property: opacity;

  }
  .nav-pages.nav-active-1.nav-active-2.nav-active-3.nav-active-4 .third {

    opacity: 100;
    transform: translateY(0%);
    transition: transform .125s ease;

  }

  /* team text animation for burger menu when closing menu with reverse animation */
  .nav-pages.nav-active-2.nav-active-3.nav-active-4 .third{

    opacity: 100;
    transform: translateY(100%);
    transition: transform .125s ease;

  }
  .nav-pages.nav-active-3.nav-active-4 .third {

    opacity: 0;
    transform: translateY(100%);
    transition: transform .0625s ease;

  }
  .nav-pages.nav-active-4 .third{

    opacity: 0;
    transform: translateY(100%);
    transition: transform .125s ease;

  }



  /* contact */
  .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease opacity .125s ease;

  }


  /* contact text animation for burger menu when opening menu */
  .nav-pages.nav-active-1 .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease opacity .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2 .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2.nav-active-3 .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease;

  }
  .nav-pages.nav-active-1.nav-active-2.nav-active-3.nav-active-4 .fourth{

    opacity: 100;
    transform: translateY(0%);
    transition: transform .125s ease opacity .125s ease;
    transition-delay: .0625s;
    transition-property: opacity;

  }

  /* contact text animation for burger menu when closing menu with reverse animation */
  .nav-pages.nav-active-2.nav-active-3.nav-active-4 .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease opacity .0625s ease;
  }

  .nav-pages.nav-active-3.nav-active-4 .fourth {

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease;
  }

  .nav-pages.nav-active-4 .fourth{

    opacity: 0;
    transform: translateY(0%);
    transition: transform .125s ease;

  }

  
  
  .nav-pages a {

    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: 100;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: opacity .25s ease;

  }


  .nav-pages li {

    align-content: center;
    height: 25%;

  }
  

  .header-img {

    height: calc(100vh - 3px - 3em) !important;

  }

}








/*.banner{
    background-image: url(../assets/bg/Website\ pic\ -\ Edited.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.nav{
    width: 90%;
    margin: auto;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    display:  inline-block;
    margin: 0 94px;
    position: relative;
}
.nav ul li a{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 38px;
}
.nav ul li ::after{
    content: '';
    height: 5px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.nav ul li :hover:after{
    width: 100%;
}
.intro{
    width: 100%;
    position: absolute;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.intro h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 75px;
}
.intro p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
}
.bgf{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bgv{
    position: fixed;
    right: auto;
    bottom: auto;
    z-index: -2;
}
.bgi {
  position: fixed;
  inset: 0; 
  z-index: -2;
  overflow: hidden;    
}
.bgi img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;  
  min-width: 100%; 
  min-height: 100%;   
  object-fit: cover;   
  pointer-events: none;    
}
.bginfo{
    height: 300px; 
}
.yap{
    width: 100%;
    position: relative;
    padding-top: 0%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.yap img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
.yap h1{
    padding-top: 50%;
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    animation: fade linear;
    animation-timeline: view();
}
.yap p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 100px;
}
.yap h2{
    padding-top: 200px;
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorbanner{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.sponsorinfo{
    width: 100%;
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    text-align: center;
    color:  white;
}
.sponsorinfo h1{
    font-family: "sweet-sans-pro", sans-serif;
    font-weight: 600;
    font-size: 80px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponsorinfo p{
    margin: auto;
    width: 75%;
    font-family: "sweet-sans-pro", sans-serif;
    font-size: 30px;
    left: auto;
    padding: 10px;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
}
.sponimg {
    width: 100%;
    height: 500px;
    display: grid;
    place-items: center;
}
.sponimg img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;          
    max-width: 100%;
    max-height: 100%;
}
.aboutpage{
    height: 900px; 
    padding-top: 0%;
    z-index: -1;
    pointer-events: none;
}
.aboutpage img{
    height: 300px; 
    width: auto;
    padding-top: 25px;
    padding-bottom: 25px; 
}
@keyframes fadequick {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    30%{
        opacity: 1;
    }
}
@media (min-aspect-ratio: 16/9){
    .bgv{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bgv{
        width: auto;
        height: 100%;
    }
}*/









/*.darkmodeon {
  width: 33.3333%;
}
@media ((prefers-color-scheme: light)) {
  .column-1-3 {
    width: 100%;
  }
}

@media  ((prefers-color-scheme: dark)) {
 
  body {
    color: #eee;
    background: #222;
  }

  .noscroll{
    height: 100%;
    overflow-y: hidden;
    
  }

  .fillcolors{
    background: #292929;
    grid-column: 1/8;
    grid-row: 1/2;
  }
  
  .burger div{
    background-color: white;
   
    
  }

  nav img.light{
    visibility: hidden;
    display: none;
  }

  nav img.dark{
    visibility: visible;
  }

  body a {
    color: #809fff;
  }

  nav {
    background-color: #292929;
  }

  .navlinks a{
    color: white;
    background-color: #292929;
    
  }
  
  header {
    background-color: #292929;
  }

  .counter-container {
    background-color: #292929 ;
  }

  span.counter-text{
    color: white; 
  }

  span.counter-num{
    color: white;
  }

  footer {
    color: white;
    background-color: #292929;
  }
  
  
    
}*/
