RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

DirectoryIndex index.php
ErrorDocument 404 / http://auautosport.com/




AddType application/x-httpd-php .htm .html .css 